//palette
$emperor: #525252;
$orange: #FF671B;
$grey: #F5F6F8;
$light-grey: #F0F0F0;

.bg-emperor {
    background-color: $emperor;
}
.text-emperor {
    color: $emperor!important;
}

.bg-orange {
    background-color: $orange;
}
.text-orange {
    color: $orange;
}

.bg-grey {
    background-color: $grey!important;
}
.text-grey {
    color: $grey;
}

.bg-black {
    background-color: #000;
}
.text-black {
    color: #000;
}

.bg-light-grey {
    background-color: $light-grey!important;
}
.text-light-grey {
    color: $light-grey;
}

.text-green {
    color: green;
}
.text-red {
    color: red!important;
}
.text-blue-requested {
    color: #0598ec;
}
.text-cancelled {
    color: crimson;
}

.bg-transparent {
    background-color: transparent!important;
}
//BADGES 
.open-for-sharing {
    background-color: #f8a443;
    color: #fff;
}
.denied {
    background-color: #ff4f56;
    color: #fff;
}
.rented {
    background-color: #0598ec;
    color: #fff;
}
.accepted {
    background-color: green;
    color: #fff;
}

.cancelled {
    background-color: crimson;
    color: #fff;
}
.awaiting-admin {
    background-color: #009689;
    color: #fff;
}
.awaiting-admin-b {
    background-color: #ff5431;
    color: #fff;
}

.property-carousel-arrow-block .arrow-wrapper a:hover i {
    color: #FFF!important;
}
.selectize-control.single .selectize-input:after {
    border-color: $orange transparent transparent transparent;
}