//Montserrat
//Open+Sans:700,400
//Raleway:400,800,900

//TEXT PROPERTIES
.text-align-last-auto {
    text-align-last:auto;
}

//HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}

//PARAGRAPHS
p {
    color: #525252;
    font-family: "Montserrat";
    letter-spacing: .5px;
    margin-bottom: 1em;
}

//SHADOWS
.text-shadow {
    text-shadow: 2px 2px 2px #3E3E3E;
}

//FAMILIES
.font-open-sans {
    font-family: "Montserrat";
}


//WEIGHTS
.font-400 {
    font-weight: 400!important;
}
.font-700 {
    font-weight: 700!important;
}
.font-800 {
    font-weight: 800!important;
}
.font-900 {
    font-weight: 900!important;
}

//TAGS
button {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}