input[type=submit] {
    height: 44px;
    width: 100%;
    text-transform: uppercase;
    border: 2px solid #9cbbfe;
    border-radius: 2px;
    background: #6495fe;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .4px;
    position: relative;
    display: block;
    &:focus {
        box-shadow: 0 1px 10px #FF671B;
    }
}
input {
    &:focus {
        outline-color: rgba($orange,.2);
        border-color: rgba($orange,.2);
    }
}

//CUSTOM RADIO  
/* Customize the label (the container) */
.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: $emperor;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #FFF;
        border: 1px solid #eff0f3;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}
/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
    background-color: #FFF;
}
/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
    background-color: $orange;
}
/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $orange;
}

//CUSTOM CHECKBOX
input[type=checkbox].css-checkbox {
    &:checked+label.css-label:before {
        border-color: $orange;
    }
}

input[type="number"] {
    max-width:80px;
}

input {
    &:disabled {
        background-color: $light-grey;
    }
}

/*
border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
*/

.modal-header {
    .close {
        margin-top: -10px;
    }
}

.modal {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

@mixin placeholder {
    color: #525252;
    font-family: "Montserrat";
    font-size: 14px;
    letter-spacing: .44px;
    text-transform: capitalize;
}
input[type="text"] {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
    
}
.form-group {
    .form-control {
        height: 50px;
        &:focus {
            border-color:transparent;
            box-shadow: inset 0 1px 1px rgba($orange,.075), 0 0 8px rgba($orange,.075)
        }
    }
    .form-control-feedback {
        position: absolute;
        top: 9px;
        bottom: 0;
        right: 18px;
    }
}

textarea {
    &:focus {
        outline-color: $orange;
        border-color: $orange;
    }
}

input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}

