input.property-searchinput.searchspecial {
  height: 33px !important;
  border: 2px solid #eff0f3 !important;
  border-radius: 5px !important;
  width: 100% !important;
}

#search-form-1 .property-search .main-apartment-search-options {
  padding: 22px !important;
}

h3.t-white {
  color: white !important;
  letter-spacing: 0px !important;
}

#search-form-1 .property-search .main-apartment-search-options .options-wrapper-main .wrapper.advanced-wrapper {
  margin-top: 0px !important;
}

.selectize-input.items.full.has-options.has-items {
  height: 39px !important;
  padding: 8px 8px !important;
}

button.property-button {
  background: white !important;
  border: 2px white !important;
  color: #f9661b !important;
  font-family: "Montserrat" !important;
  font-size: 12px !important;
}

.btn-g4 {
  grid-column: 4 !important;
  padding-left: 10px;
}

.property-carousel-arrow-block .arrow-wrapper a i {
  border: 2px solid #e6e6e6 !important;
  color: #f9661b !important;
}

.txt-grey {
  color: #37466f !important;
  font-weight: bold !important;
}

.property-carousel-arrow-block .button-wrapper a {
  border: 2px solid #e6e6e6 !important;
}

.apartment-grid {
  margin-top: 0px !important;
}

.s-grid {
  display: table !important;
  border-bottom: 2px solid rgba(153, 161, 182, 0.08);
}

.txt-g {
  color: #9f9f9f !important;
  font-size: 12px !important;
}

.icons .heart {
  .icons-style {
    border: 2px solid #e6e6e6 !important;
    padding: 4px !important;
    background: #f7f7f7 !important;
    border-radius: 100% !important;
    font-size: 14px !important;
    color: #f9661b !important;
  }
  &:hover .icons-style {
    box-shadow: none !important;
    background-color: #f9661b !important;
    color: #ffffff !important;
  }
}

i {
  &.fas.fa-map-marker-alt, &.far.fa-calendar-check {
    color: #f9661b;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.txt-g-2 {
  color: #9f9f9f !important;
  font-size: 11px !important;
}

.property-block .apartment-manager {
  display: block !important;
}

.pd-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pd-l5 {
  padding-left: 5px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.pd-bt-4 {
  padding-bottom: 4px;
}

.wp {
  padding: 0px !important;
}

i.fa {
  &.fa-star, &.fa-star-o {
    font-size: 18px;
    color: grey;
  }
}

.bor-btm {
  border-bottom: 1.2px solid #d4d4d4;
  padding-bottom: 15px;
}

.bor-btm-2 {
  border-bottom: 1.2px solid #d4d4d4;
  padding-bottom: 30px;
}

.pad-top {
  padding-top: 25px;
}

span#basic-addon1 {
  background: #ffffff;
  color: #f9661b;
}

p {
  font-size: 14px !important;
}

.single-property-details.mb-5 {
  min-height: 220px;
}

.special-grid {
  grid-template-columns: minmax(219px, 3.8fr) minmax(123px, 1.3fr) minmax(123px, 1fr) minmax(123px, 1fr) minmax(156px, 1fr) !important;
}

#search-form-1 .main-apartment-search-options .property-button {
  height: 39px !important;
}

.btn-special {
  background: white !important;
  color: #ff671b !important;
  font-weight: bold !important;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.pdtop10 {
  padding-top: 10px !important;
}

textarea#editor {
  min-height: 300px;
}

.npb {
  padding-bottom: 0px !important;
}

.fs-12 {
  font-size: 16px;
}

.btn-secondary:hover {
  color: #ff671b !important;
  background-color: #ffffff !important;
  border-color: #ff671b !important;
}

.modal-header {
  border-bottom: 0px !important;
  padding: 25px !important;
}

.modal-body {
  position: relative !important;
  padding-left: 25px !important;
  padding-top: 10px !important;
  padding-right: 25px !important;
}

.fz-12- {
  font-size: 12px !important;
}

.btn-specials {
  color: #ff671b !important;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.btn-specials-red {
  color: red !important;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.btn-secondary:focus {
  border-color: #ff671b !important;
}

.btn {
  &.active {
    &.focus, &:focus {
      outline: 0px !important;
      outline-offset: 0px !important;
    }
  }
  &.focus {
    outline: 0px !important;
    outline-offset: 0px !important;
  }
  &:active {
    &.focus, &:focus {
      outline: 0px !important;
      outline-offset: 0px !important;
    }
  }
  &:focus {
    outline: 0px !important;
    outline-offset: 0px !important;
  }
}

.specialcont {
  border-radius: 2px;
  border: 2px solid #eff0f3;
  background-color: #fff;
  padding: 24px;
}

.inputs {
  width: 100% !important;
  max-height: 39px !important;
}

.pdtop10 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

#editor2 {
  min-height: 100px;
}

.btnwrspe {
  display: inline-block;
  padding: 12px 20px 11px 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  color: #FF671B !important;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px;
  border: 2px solid #e6e6e6 !important;
  > a {
    color: #FF671B !important;
  }
}

.btnwrsperrr {
  display: inline-block;
  padding: 12px 20px 11px 20px;
  border-radius: 20px;
  background-color: #FF671B !important;
  color: white !important;
  font-family: Montserrat;
  font-size: 12px;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px;
  border: 2px solid #e6e6e6 !important;
  > a {
    color: white !important;
  }
}

.pdt20 {
  padding-top: 20px !important;
}

.btnwrsp, .btnwrspr, .btnwrspg {
  border: 0px !important;
  padding: 12px 14px 11px 5px !important;
}

.account_menu_categories .category_item__category-name span, .fsm12 {
  font-size: 13px !important;
}

.fs-19 {
  font-size: 20px !important;
}

i.fas.fa-bell {
  color: #ff671b;
}

.pdtp4 {
  padding-top: 12px;
}

.btnwb {
  border: 0px !important;
}

i.fas.fa-exclamation-triangle {
  color: red;
}

button.btn.btn-warning {
  background-color: #ff671b !important;
}

.small-text {
  font-size: 13px !important;
}

.redcolor {
  color: red !important;
}

.greencolor {
  color: green !important;
}

.specialbreadcum {
  color: #ff671b !important;
  font-size: 12px !important;
}

.pdtp10 {
  padding-top: 10px !important;
}

.text-black {
  color: black;
}

.specialtile {
  padding: 18px;
  border-radius: 20px;
}

.modal-footer {
  border-top: 0px !important;
}

.colorgray {
  color: gray;
}

.mh-140 {
  min-height: 140px;
}

.pdb4 {
  padding-bottom: 10px;
}

.flssl {
  color: #ff671b !important;
  font-size: 16px !important;
}


.bg-og {
  background-color: #ff671b !important;
  color: white !important;
}

.first {
  padding: 20px;
  text-align: left;
}

.second {
  font-size: 13px;
  font-weight: 100;
  padding-bottom: 10px;
}

.third {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.four {
  padding-bottom: 20px;
  font-weight: 300;
}

.mt-20 {
  margin-top: 200px;
}

.pdbtn {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(153, 161, 182, 0.08);
}

.call-to-action-section-3 {
  background-color: #ff671b !important;
  color: white;
}

.ll {
  color: white !important;
  font-size: 32px !important;
  font-weight: 300;
}

.lm {
  color: white !important;
  font-size: 22px !important;
  font-weight: 100;
}

.home-2-style .js-home-2-search {
  top: 3% !important;
}

.testing {
  top: 0% !important;
  background: #ffffff73;
  height: 200px;
  position: absolute;
  z-index: 80;
  right: 0;
  left: 0;
}

.bgpll {
  background-color: #fbfbfc !important;
}

.testing-2 {
  top: 200px;
  height: 600px;
  position: absolute;
  z-index: 80;
  right: 0;
  left: 65%;
}

.testing-3 {
  top: 200px;
  background: #ffffff73;
  height: 600px;
  position: absolute;
  z-index: 80;
  right: 0;
  left: 60%;
}

.bgblack {
  background: gray;
}

.bgwhite {
  background: white;
}

.t1 {
  color: #ff671b !important;
  padding-top: 5px;
}

.t2 {
  padding-bottom: 10px;
}

.bbt {
  border-bottom: 2px solid rgba(153, 161, 182, 0.08);
}

.pdtop {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pdtop2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.account-property input[type=checkbox].css-checkbox:checked + label.css-label:before {
  color: #ff671b !important;
  content: '\E5CA';
  background-color: transparent !important;
}

.btn-specials-oj {
  color: white !important;
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
  background-color: #fe671b !important;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  > i.glyphicon.glyphicon-remove {
    right: 7px !important;
    top: -2px !important;
  }
}

.bgcolorespe {
  background-color: #f5f6f8 !important;
}

.withouthbg {
  background-color: transparent !important;
}

.withoutall {
  background: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.redspecial {
  background-color: #f85152 !important;
}

.company-service {
  background-image: url(../images/testi.jpg);
  background-size: cover;
}

.options-wrapper-main .wrapper .property-searchinput {
  height: 33px !important;
}

.btnspecoj {
  background: #FF671B !important;
  color: #fff !important;
}

.manager-icon > a > img {
  border-radius: 50% !important;
}

.pdtop10 {
  padding-top: 10px !important;
}