.bg-emperor {
  background-color: #525252; }

.text-emperor {
  color: #525252 !important; }

.bg-orange {
  background-color: #FF671B; }

.text-orange {
  color: #FF671B; }

.bg-grey {
  background-color: #F5F6F8 !important; }

.text-grey {
  color: #F5F6F8; }

.bg-black {
  background-color: #000; }

.text-black {
  color: #000; }

.bg-light-grey {
  background-color: #F0F0F0 !important; }

.text-light-grey {
  color: #F0F0F0; }

.text-green {
  color: green; }

.text-red {
  color: red !important; }

.text-blue-requested {
  color: #0598ec; }

.text-cancelled {
  color: crimson; }

.bg-transparent {
  background-color: transparent !important; }

.open-for-sharing {
  background-color: #f8a443;
  color: #fff; }

.denied {
  background-color: #ff4f56;
  color: #fff; }

.rented {
  background-color: #0598ec;
  color: #fff; }

.accepted {
  background-color: green;
  color: #fff; }

.cancelled {
  background-color: crimson;
  color: #fff; }

.awaiting-admin {
  background-color: #009689;
  color: #fff; }

.awaiting-admin-b {
  background-color: #ff5431;
  color: #fff; }

.property-carousel-arrow-block .arrow-wrapper a:hover i {
  color: #FFF !important; }

.selectize-control.single .selectize-input:after {
  border-color: #FF671B transparent transparent transparent; }

/*Reset JP*/
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

.fheight {
  height: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.text-align-last-auto {
  text-align-last: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', serif; }

p {
  color: #525252;
  font-family: "Montserrat";
  letter-spacing: .5px;
  margin-bottom: 1em; }

.text-shadow {
  text-shadow: 2px 2px 2px #3E3E3E; }

.font-open-sans {
  font-family: "Montserrat"; }

.font-400 {
  font-weight: 400 !important; }

.font-700 {
  font-weight: 700 !important; }

.font-800 {
  font-weight: 800 !important; }

.font-900 {
  font-weight: 900 !important; }

button a:hover {
  text-decoration: none; }

input[type=submit] {
  height: 44px;
  width: 100%;
  text-transform: uppercase;
  border: 2px solid #9cbbfe;
  border-radius: 2px;
  background: #6495fe;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .4px;
  position: relative;
  display: block; }
  input[type=submit]:focus {
    box-shadow: 0 1px 10px #FF671B; }

input:focus {
  outline-color: rgba(255, 103, 27, 0.2);
  border-color: rgba(255, 103, 27, 0.2); }

/* Customize the label (the container) */
.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #525252;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio-label input {
    position: absolute;
    opacity: 0; }
  .radio-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border: 1px solid #eff0f3;
    border-radius: 50%; }
    .radio-label .checkmark:after {
      content: "";
      position: absolute;
      display: none; }

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
  background-color: #FFF; }

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
  background-color: #FF671B; }

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF671B; }

input[type=checkbox].css-checkbox:checked + label.css-label:before {
  border-color: #FF671B; }

input[type="number"] {
  max-width: 80px; }

input:disabled {
  background-color: #F0F0F0; }

/*
border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
*/
.modal-header .close {
  margin-top: -10px; }

.modal {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto; }

input[type="text"] ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink; }

input[type="text"] ::-moz-placeholder {
  /* Firefox 19+ */
  color: pink; }

input[type="text"] :-ms-input-placeholder {
  /* IE 10+ */
  color: pink; }

input[type="text"] :-moz-placeholder {
  /* Firefox 18- */
  color: pink; }

.form-group .form-control {
  height: 50px; }
  .form-group .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(255, 103, 27, 0.075), 0 0 8px rgba(255, 103, 27, 0.075); }

.form-group .form-control-feedback {
  position: absolute;
  top: 9px;
  bottom: 0;
  right: 18px; }

textarea:focus {
  outline-color: #FF671B;
  border-color: #FF671B; }

input[type="submit"] {
  font-family: 'Montserrat', sans-serif; }

.button-secondary {
  color: #FF671B;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px;
  border-radius: 4px;
  border: 2px solid #FF671B;
  background-color: #f7f7f7;
  height: 44px; }
  .button-secondary:hover {
    background-color: #FF671B;
    border: 2px solid #FF671B; }

.button-link-primary-icon {
  background-color: #f7f7f7;
  color: #FF671B; }
  .button-link-primary-icon:hover {
    box-shadow: 0 1px 10px rgba(255, 103, 27, 0.5);
    background-color: #FF671B; }

.button-link-normal:hover {
  box-shadow: 0 1px 10px rgba(255, 103, 27, 0.5); }

.property_gallery .nav-arrow {
  color: #FF671B; }

input[type=submit] {
  text-align: center;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #FF671B;
  background-color: #FF671B;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px; }

a.cta-btn {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px;
  border-radius: 20px;
  padding: 13px 21px 12px 21px;
  background-color: #FF671B;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #FF671B; }
  a.cta-btn:hover, a.cta-btn:focus {
    background-color: #FFF;
    color: #FF671B; }

html, body {
  overflow: visible; }
  html.scrolllock, body.scrolllock {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden; }

.prealoader {
  display: none;
  visibility: hidden; }

.box-shadow {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3); }

button.close {
  top: 10px !important;
  right: 10px !important;
  background-color: #FF671B;
  color: #FFF;
  border-radius: 50%;
  padding: 0 4px !important;
  opacity: 1; }
  button.close span {
    color: #FFF; }

ul#myTab li.nav-item a {
  color: #FF671B; }

ul#myTab li.nav-item.active {
  border-bottom: 2px solid #FF671B; }

.header .wrapper {
  text-align: left; }

.header .navbar-collapse {
  float: left; }

.header .register-signin {
  width: 100px;
  border: 1px solid #000;
  height: 40px; }
  .header .register-signin p {
    font-size: 12px;
    color: #000;
    position: relative; }

.header .subscribe-buttons {
  padding: 0; }
  .header .subscribe-buttons:before {
    content: none; }

.header .menu-list {
  margin-left: 4%; }
  .header .menu-list div ul li a:before {
    width: 0;
    height: 0; }

.header a {
  text-decoration: underline; }
  .header a:hover {
    color: #FF671B; }

.header {
  min-height: 85px;
  z-index: 9999;
  /* para browser */
  /* para dispositivo */ }
  .header ul li a {
    color: #FF671B;
    text-transform: uppercase;
    text-decoration: none; }
    .header ul li a:hover {
      text-decoration: underline; }
  .header form {
    width: 100%; }
    .header form input[type="text"] {
      width: 100%;
      background: url(../images/search-icon.png) 10px center no-repeat #FFF;
      padding-left: 40px; }
  .header a.btn {
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    padding: 9px;
    border-radius: 20px; }
    .header a.btn:hover {
      color: #FF671B !important;
      background-color: #FFF;
      border-color: #FF671B; }
  @media (max-width: 991px) {
    .header #menu-desktop, .header #search-desktop, .header #reg-desktop {
      display: none !important;
      visibility: hidden; } }
  @media only screen and (max-device-width: 991px) {
    .header #menu-desktop, .header #search-desktop, .header #reg-desktop {
      display: none !important;
      visibility: hidden; } }

#nav-icon1 {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0 0 0 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block; }
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #FF671B;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    #nav-icon1 span:nth-child(1) {
      top: 3px; }
    #nav-icon1 span:nth-child(2) {
      top: 15px; }
    #nav-icon1 span:nth-child(3) {
      top: 27px; }
  #nav-icon1.open span:nth-child(1) {
    top: 16px;
    transform: rotate(135deg); }
  #nav-icon1.open span:nth-child(2) {
    opacity: 0; }
  #nav-icon1.open span:nth-child(3) {
    top: 16px;
    transform: rotate(-135deg); }

#mobile-menu {
  height: calc(100vh - 83px);
  background-color: #FFF;
  top: 50px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in-out; }
  #mobile-menu ul {
    margin: 0;
    padding: 0; }
    #mobile-menu ul li {
      text-align: center;
      padding: 10px;
      border-top: 2px solid rgba(153, 161, 182, 0.08);
      width: 100%;
      float: left; }
      #mobile-menu ul li a {
        color: #FF671B;
        width: 100%;
        display: block;
        padding: 5px 0; }
      #mobile-menu ul li p > a {
        display: inline;
        width: auto;
        padding: 0; }
      #mobile-menu ul li form {
        height: 40px;
        float: left;
        width: 100%;
        margin-bottom: 10px; }
        #mobile-menu ul li form input[type="text"] {
          width: 70%;
          margin-right: 10px;
          float: left;
          background: url(../images/search-icon.png) 10px center no-repeat #FFF;
          padding-left: 40px; }
        #mobile-menu ul li form input[type="submit"] {
          width: 20%;
          height: 42px;
          float: left; }
      #mobile-menu ul li:last-child {
        border-bottom: 2px solid rgba(153, 161, 182, 0.08); }
      #mobile-menu ul li:hover {
        background-color: rgba(153, 161, 182, 0.08); }
  #mobile-menu.open {
    top: 83px;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: .5s ease-in-out; }

#approval-head {
  height: auto;
  min-height: 121px;
  background: #ff9e4e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff9e4e 1%, #ff6631 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff9e4e 1%, #ff6631 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9e4e 1%, #ff6631 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e4e', endColorstr='#ff6631',GradientType=0 );
  /* IE6-9 */
  color: #FFF; }

#main-slder-home {
  height: 80vh;
  background-image: url(../images/testi.jpg);
  background-size: cover; }

#how-it-works {
  background-image: url(../images/testi.jpg);
  background-size: cover;
  height: 400px;
  /* para browser */
  /* para dispositivo */ }
  #how-it-works .bg-og {
    height: 260px; }
  @media (max-width: 991px) {
    #how-it-works {
      height: auto; } }
  @media only screen and (max-device-width: 991px) {
    #how-it-works {
      height: auto; } }

#or-line span {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-color: #F00;
  height: 1px;
  z-index: -1; }

.box-share {
  color: #FFF;
  background-image: linear-gradient(-206deg, #FFA03A 0%, #FF671B 50%);
  border-radius: 2px; }
  .box-share input {
    color: #FF671B; }
  .box-share input[type="submit"] {
    border: 2px solid #FFF;
    background-color: transparent;
    color: #fff; }
    .box-share input[type="submit"]:hover {
      background-color: #FFF;
      color: #FF671B; }

#hourly-box.disabled, #daily-box.disabled {
  opacity: .7; }

.property-block .property-title {
  margin-bottom: 21px; }
  .property-block .property-title a {
    color: #525252; }

.property-block .apartment-values {
  border-bottom-color: rgba(153, 161, 182, 0.16); }

#toolbar {
  z-index: 999;
  background-color: #FFF; }

.stick-header {
  z-index: 900; }

.page-title-simple ul li a {
  color: #525252; }
  .page-title-simple ul li a:before {
    background-color: #FF671B; }

.property_gallery.setfull {
  z-index: 1000; }

.breadcrumb a:hover {
  color: #FF671B; }

.item p.property-title {
  font-size: 18px !important; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.js-test-toggle {
  padding: 4px 12px 12px; }

.account_menu_categories .category_item__category-name i {
  color: #FF671B; }

.account-property .table-property-listing .item .apartment-details-btn {
  width: 40%; }

.account-property .table-property-listing .item .property-info-wrapper {
  width: 30%; }

.range-picker-wrapper input[type="text"].dates-input {
  height: 39px !important;
  border: 2px solid #eff0f3;
  border-radius: 2px;
  width: 100%;
  padding-left: 10px;
  position: relative; }

.range-picker-wrapper i {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 10px; }

#join p {
  color: #FF671B; }

.modal-open .modal {
  min-height: 600px; }

.account-page {
  min-height: 100vh; }

.account_menu_categories a:last-child {
  border: 0; }

.account_menu_categories .category_item {
  padding: 10px; }

.account_menu {
  width: 19vw;
  /* para dispositivo */ }
  @media (max-width: 991px) {
    .account_menu {
      width: 100vw; } }
  @media only screen and (max-device-width: 991px) {
    .account_menu {
      width: 100vw; } }

.menu-close-class {
  /* para dispositivo */ }
  .menu-close-class h2, .menu-close-class span {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 991px) {
    .menu-close-class {
      height: auto; } }
  @media only screen and (max-device-width: 991px) {
    .menu-close-class {
      height: auto; } }

#widget-modal .modal-dialog {
  width: 90vw !important;
  max-width: 766px; }

#widget-modal .modal-body {
  padding: 0 !important; }

#widget-modal input {
  width: 100% !important; }

#custom-modal {
  background-color: rgba(0, 0, 0, 0.6); }
