@import 'colors';
@import 'fix';
@import 'fonts';
@import 'forms';
@import 'buttons';

html, body {
    overflow: visible;
    &.scrolllock {
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
    }
}

.prealoader {
    display: none;
    visibility: hidden;
}
//COMMONS 
//SHADOWS
.box-shadow {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

//TRAVEL HISTORY 
button.close {
    top: 10px!important;
    right: 10px!important;
    background-color: $orange;
    color: #FFF;
    border-radius: 50%;
    padding: 0 4px!important;
    opacity: 1;
    span {
        color: #FFF;
    }
}
ul#myTab {
    li.nav-item {
        a {
            color: $orange;
        }
        &.active {
            border-bottom: 2px solid $orange;
        }
    }  
}

//HEADER
.header {
    .wrapper {
        text-align: left;
    }
    .navbar-collapse {
        float: left;
    }
    .register-signin {
        width: 100px;
        border: 1px solid #000;
        height: 40px;
        
        p {
            font-size: 12px;
            color: #000;
            position: relative;
        }
    }
    .subscribe-buttons {
        padding: 0;
        &:before {
            content: none;
        }
    }
    .menu-list {
        margin-left: 4%;
        div {
            ul {
                li {
                    a {
                        &:before {
                            width: 0;
                            height: 0;
                        }
                    }
                }
            }
        }
    }
    a {
        text-decoration: underline;
        &:hover {
            color: $orange;
        }
    }
}
.header {
    min-height: 85px;
    z-index: 9999;
    ul {
        li {
            a {
                color: $orange;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    form {
        width: 100%;
        input[type="text"] {        
            width: 100%;
            background: url(../images/search-icon.png) 10px center no-repeat #FFF;
            padding-left: 40px;
        }
    }
    
    a.btn {
        border-radius: 10px;
        font-weight: 700;
        text-decoration: none;
        padding: 9px;
        border-radius: 20px;
        
        &:hover {
            color: $orange!important;
            background-color: #FFF;
            border-color: $orange;
        }
    }
    
    /* para browser */
    @media (max-width: 991px) {
        #menu-desktop, #search-desktop, #reg-desktop {
            display: none!important;
            visibility: hidden;
        }
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 991px) {
        #menu-desktop, #search-desktop, #reg-desktop {
            display: none!important;
            visibility: hidden;
        }
    }
    
}
#nav-icon1 {
    width: 35px;
    height: 35px;
    position: relative;
    margin: 0 0 0 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: $orange;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 3px;
        }
        &:nth-child(2) {
            top: 15px;
        }
        &:nth-child(3) {
            top: 27px;
        }
    }
    &.open {
        span {
            &:nth-child(1) {
                top: 16px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 16px;
                transform: rotate(-135deg);
            }
        }
    }
}
#mobile-menu {
    height: calc(100vh - 83px);;
    background-color: #FFF;
    top: 50px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    ul {
        margin: 0;
        padding: 0;
        li {
            text-align: center;
            padding: 10px;
            border-top: 2px solid rgba(153,161,182,.08);
            width: 100%;
            float: left;
            a {
                color: $orange;
                width: 100%;
                display: block;
                padding: 5px 0;
            }
            p > a {
                display: inline;
                width: auto;
                padding: 0;
            }
            form {
                height: 40px;
                float: left;
                width: 100%;
                margin-bottom: 10px;
                input[type="text"] {
                    width: 70%;
                    margin-right: 10px;
                    float: left;
                    background: url(../images/search-icon.png) 10px center no-repeat #FFF;
                    padding-left: 40px;
                }
                input[type="submit"] {
                    width: 20%;
                    height: 42px;
                    float: left;
                }
            }
            &:last-child {
                border-bottom: 2px solid rgba(153,161,182,.08);
            }
            &:hover {
                background-color: rgba(153,161,182,.08);
            }
            
        }
    }
    &.open {
        top: 83px;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: .5s ease-in-out;
    }
    
}

@import 'menu';
#approval-head {
    height: auto;
    min-height: 121px;
    background: #ff9e4e; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9e4e 1%, #ff6631 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff9e4e 1%,#ff6631 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff9e4e 1%,#ff6631 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e4e', endColorstr='#ff6631',GradientType=0 ); /* IE6-9 */
    color: #FFF;
}

//HOME 
#main-slder-home {
    height: 80vh;
    background-image: url(../images/testi.jpg);
    background-size: cover;
}
#how-it-works {
    background-image: url(../images/testi.jpg);
    background-size: cover;
    height: 400px;
    .bg-og {
        height: 260px;
    }
    
    /* para browser */
    @media (max-width: 991px) {
        height: auto;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 991px) {
        height: auto;
    }
}

#or-line {
    span {
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
        border-color: #F00;
        height: 1px;
        z-index: -1;
    }
}

//SHARE SOMETHING
.box-share {
    color: #FFF;
    background-image: linear-gradient(-206deg, #FFA03A 0%, $orange 50%);
    border-radius: 2px;
    input {
        color: $orange
    }
    input[type="submit"] {
        border: 2px solid #FFF;
        background-color: transparent;
        color: #fff;
        &:hover {
            background-color: #FFF;
            color: $orange;
        }
    }
}
#hourly-box, #daily-box {
    &.disabled {
        opacity: .7;
    }
}

//COMMONS
.property-block {
    .property-title {
        margin-bottom: 21px;
        a {
            color: $emperor;
        }
    }
    .apartment-values {
        border-bottom-color: rgba(153,161,182,.16);
    }
}
#toolbar {
    z-index: 999;
    background-color: #FFF;
}
.stick-header {
    z-index: 900;
}
.page-title-simple {
    ul {
        li {
            a {
                color: $emperor;
                &:before {
                    background-color:  $orange;
                }
            }
        }
    }
}
.property_gallery {
    &.setfull {
        z-index: 1000;
    }
}
.breadcrumb {
    a {
        &:hover {
            color: $orange;
        }
    }
}

//ADVERTISE A NEED
.item {
    p.property-title {
        font-size: 18px!important;
    }
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.js-test-toggle {
    padding: 4px 12px 12px;
}

//ADMIN PAGE 
.account_menu_categories {
    .category_item__category-name {
        i {
            color: $orange;
        }
    }
}
.account-property {
    .table-property-listing {
        .item {
            .apartment-details-btn {
                width: 40%;
            }
            .property-info-wrapper {
                width: 30%;
            }
        }
    }
}

//CREATE A NEED BLOCK
.create-a-need {
}
.range-picker-wrapper {
    input[type="text"].dates-input {
        height: 39px!important;
        border: 2px solid #eff0f3;
        border-radius: 2px;
        width: 100%;
        padding-left: 10px;
        position: relative;
    }
    i {
        position: absolute;
        z-index: 1;
        top: 13px;
        left: 10px;
    }
}
//JOIN PAGE
#join {
    p {
        color: $orange;
    }
}

//MODAL
.modal-open {
    .modal {
        min-height: 600px;
    }
}

//USER DASHBOARD
.account-page {
    min-height: 100vh;
}
.account_menu_categories {
    a{
        &:last-child {
            border:0;
        }
    }
    .category_item {
        padding: 10px;
    }
}
.account_menu {
    width: 19vw;
    @media (max-width: 991px) {
        width: 100vw;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 991px) {
        width: 100vw;
    }
}
.menu-close-class {
    h2, span {
        opacity: 1;
        visibility: visible;
    }
    @media (max-width: 991px) {
        height: auto;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 991px) {
        height: auto;
    }
}

//CALENDAR WIDGET
#widget-modal {
    .modal-dialog {
        width: 90vw!important;
        max-width: 766px;
    }
    .modal-body {
        padding: 0!important;
    }
    input {
        width: 100%!important;
    }
}
#custom-modal {
    background-color: rgba(0,0,0,.6);
}