$emperor: #525252;
$orange: #FF671B;
$grey: #F5F6F8;

.button-secondary {
    color: $orange;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4px;
    border-radius: 4px;
    border: 2px solid $orange;
    background-color: #f7f7f7;
    height: 44px;
    &:hover {
        background-color: $orange;
        border: 2px solid $orange;
    }
}
.button-link-primary-icon {
    background-color: #f7f7f7;
    color: $orange;
    &:hover {
        box-shadow: 0 1px 10px rgba($orange,.5);
        background-color: $orange;
    }
}
.button-link-normal {
    &:hover {
        box-shadow: 0 1px 10px rgba($orange,.5);
    }
}
.property_gallery .nav-arrow {
    color: $orange;
}
a {
    &.property-button{
        text-align: center;
        line-height: 40px;
    }
}
input[type=submit] {
    text-align: center;
    height: 40px;
    border-radius: 2px;
    border: 2px solid $orange;
    background-color: #FF671B;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
}
a.cta-btn {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
    border-radius: 20px;
    padding: 13px 21px 12px 21px;
    background-color: $orange;
    color: #FFF;
    text-decoration: none;
    border: 1px solid $orange;
    &:hover, &:focus {
        background-color: #FFF;
        color: $orange;
    }
}
.floating-button {
    position: absolute;
    left: inherit;
    right: 0;
    bottom: -60px;
    min-width: 250px;
}