//palette
$emperor: #525252;
$orange: #FF671B;
$grey: #F5F6F8;


.bg-emperor {
    background-color: $emperor;
}
.text-emperor {
    color: $emperor!important;
}
.bg-orange {
    background-color: $orange;
}
.text-orange {
    color: $orange;
}
.bg-grey {
    background-color: $grey!important;
}
.text-grey {
    color: $grey;
}
.text-black {
    color: #000;
}

//BADGES 
.open-for-sharing {
    background-color: #f8a443;
    color: #fff;
}
.denied {
    background-color: #ff4f56;
    color: #fff;
}
.rented {
    background-color: #0598ec;
    color: #fff;
}
.accepted {
    background-color: green;
    color: #fff;
}
.awaiting-admin {
    background-color: #009689;
    color: #fff;
}
.awaiting-admin-b {
    background-color: #ff5431;
    color: #fff;
}