//Montserrat
//Open+Sans:700,400
//Raleway:400,800,900

//TEXT PROPERTIES
.text-align-last-auto {
    text-align-last:auto;
}

//HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}

//FAMILIES
.font-open-sans {
    font-family: "Montserrat";
}

//WEIGHTS
.font-400 {
    font-weight: 400;
}
.font-700 {
    font-weight: 700;
}
.font-800 {
    font-weight: 800;
}
.font-900 {
    font-weight: 900;
}

//FORMS
input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #525252;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px;
    margin-bottom: 1em;
}