.bg-emperor {
  background-color: #525252; }

.text-emperor {
  color: #525252 !important; }

.bg-orange {
  background-color: #FF671B; }

.text-orange {
  color: #FF671B; }

.bg-grey {
  background-color: #F5F6F8 !important; }

.text-grey {
  color: #F5F6F8; }

.text-black {
  color: #000; }

.open-for-sharing {
  background-color: #f8a443;
  color: #fff; }

.denied {
  background-color: #ff4f56;
  color: #fff; }

.rented {
  background-color: #0598ec;
  color: #fff; }

.accepted {
  background-color: green;
  color: #fff; }

.awaiting-admin {
  background-color: #009689;
  color: #fff; }

.awaiting-admin-b {
  background-color: #ff5431;
  color: #fff; }

.text-align-last-auto {
  text-align-last: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', serif; }

.font-open-sans {
  font-family: "Montserrat"; }

.font-400 {
  font-weight: 400; }

.font-700 {
  font-weight: 700; }

.font-800 {
  font-weight: 800; }

.font-900 {
  font-weight: 900; }

input[type="submit"] {
  font-family: 'Montserrat', sans-serif; }

p {
  color: #525252;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .5px;
  margin-bottom: 1em; }

input[type=submit] {
  height: 44px;
  width: 100%;
  text-transform: uppercase;
  border: 2px solid #9cbbfe;
  border-radius: 2px;
  background: #6495fe;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .4px;
  position: relative;
  display: block; }
  input[type=submit]:focus {
    box-shadow: 0 1px 10px #FF671B; }

input:focus {
  outline-color: rgba(255, 103, 27, 0.2);
  border-color: rgba(255, 103, 27, 0.2); }

/* Customize the label (the container) */
.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #525252;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio-label input {
    position: absolute;
    opacity: 0; }
  .radio-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
    .radio-label .checkmark:after {
      content: "";
      position: absolute;
      display: none; }

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
  background-color: #FF671B; }

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF671B; }

input[type=checkbox].css-checkbox:checked + label.css-label:before {
  background-color: #FF671B;
  border-color: #FF671B; }

.modal-header .close {
  margin-top: -10px; }

.modal {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto; }

.form-group .form-control {
  height: 50px; }
  .form-group .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(255, 103, 27, 0.075), 0 0 8px rgba(255, 103, 27, 0.075); }

.form-group .form-control-feedback {
  position: absolute;
  top: 9px;
  bottom: 0;
  right: 18px; }

textarea:focus {
  outline-color: #FF671B;
  border-color: #FF671B; }

.button-secondary {
  color: #FF671B;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px;
  border-radius: 4px;
  border: 2px solid #FF671B;
  background-color: #f7f7f7;
  height: 44px; }
  .button-secondary:hover {
    background-color: #FF671B;
    border: 2px solid #FF671B; }

.button-link-primary-icon {
  background-color: #f7f7f7;
  color: #FF671B; }
  .button-link-primary-icon:hover {
    box-shadow: 0 1px 10px rgba(255, 103, 27, 0.5);
    background-color: #FF671B; }

.button-link-normal:hover {
  box-shadow: 0 1px 10px rgba(255, 103, 27, 0.5); }

.property_gallery .nav-arrow {
  color: #FF671B; }

a.property-button {
  text-align: center;
  line-height: 40px; }

input[type=submit] {
  text-align: center;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #FF671B;
  background-color: #FF671B;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px; }

a.cta-btn {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4px;
  border-radius: 20px;
  padding: 13px 21px 12px 21px;
  background-color: #FF671B;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #FF671B; }
  a.cta-btn:hover, a.cta-btn:focus {
    background-color: #FFF;
    color: #FF671B; }

.floating-button {
  position: absolute;
  left: inherit;
  right: 0;
  bottom: -60px;
  min-width: 250px; }

.prealoader {
  display: none;
  visibility: hidden; }

.header .wrapper {
  text-align: left; }

.header .navbar-collapse {
  float: left; }

.header .register-signin {
  width: 100px;
  border: 1px solid #000;
  height: 40px; }
  .header .register-signin p {
    font-size: 12px;
    color: #000;
    position: relative; }

.header .subscribe-buttons {
  padding: 0; }
  .header .subscribe-buttons:before {
    content: none; }

.header .menu-list {
  margin-left: 4%; }
  .header .menu-list div ul li a:before {
    width: 0;
    height: 0; }

#approval-head {
  height: auto;
  min-height: 121px;
  background: #ff9e4e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff9e4e 1%, #ff6631 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff9e4e 1%, #ff6631 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9e4e 1%, #ff6631 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e4e', endColorstr='#ff6631',GradientType=0 );
  /* IE6-9 */
  color: #FFF; }

.box-share {
  color: #FFF;
  background-image: linear-gradient(-206deg, #FFA03A 0%, #FF671B 50%);
  border-radius: 2px; }
  .box-share input {
    color: #FF671B; }
  .box-share input[type="submit"] {
    border: 2px solid #FFF;
    background-color: transparent;
    color: #fff; }
    .box-share input[type="submit"]:hover {
      background-color: #FFF;
      color: #FF671B; }

.property-block .property-title {
  margin-bottom: 21px; }
  .property-block .property-title a {
    color: #525252; }

.property-block .apartment-values {
  border-bottom-color: rgba(153, 161, 182, 0.16); }

#toolbar {
  z-index: 999;
  background-color: #FFF; }

.stick-header {
  z-index: 900; }

.page-title-simple ul li a {
  color: #525252; }
  .page-title-simple ul li a:before {
    background-color: #FF671B; }

.property_gallery.setfull {
  z-index: 1000; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.js-test-toggle {
  padding: 4px 12px 12px; }

.account_menu_categories .category_item__category-name i {
  color: #FF671B; }

.account-property .table-property-listing .item .apartment-details-btn {
  width: 40%; }

.account-property .table-property-listing .item .property-info-wrapper {
  width: 30%; }

#join p {
  color: #FF671B; }

#search-form-1 .property-search {
  background-color: white; }
  #search-form-1 .property-search .main-apartment-search-options {
    padding: 10px 20px; }
    #search-form-1 .property-search .main-apartment-search-options .options-title.options-title h3 {
      font-size: 16px; }
    @media screen and (min-width: 993px) {
      #search-form-1 .property-search .main-apartment-search-options .options-wrapper-main .wrapper.advanced-wrapper {
        margin-top: -30px; } }

.selectize-control.single .selectize-input {
  height: 50px; }
  .selectize-control.single .selectize-input.dropdown-active {
    position: relative .selectize-control.single .selectize-input.dropdown-active; }
    .selectize-control.single .selectize-input.dropdown-active :after {
      border-color: transparent transparent #FF671B transparent; }
    .selectize-control.single .selectize-input.dropdown-active:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      background-color: gray;
      height: 100%;
      right: 40px;
      top: 0;
      opacity: 0.3; }

.selectize-control.single .selectize-input:after {
  border-color: #FF671B transparent transparent transparent; }

.selectize-control.single .selectize-input:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  background-color: gray;
  height: 100%;
  right: 40px;
  top: 0;
  opacity: 0.3; }

.property-block .property-title {
  color: #525252; }

.property-block .apartament-disposition i {
  color: #FF671B; }

.property-block .apartament-disposition .apartment-location {
  display: block;
  float: left;
  width: 40%;
  padding: 10px 0;
  border-bottom: 1.5px solid #F5F6F8; }

.property-block .apartament-disposition .apartament-availability {
  display: block;
  float: left;
  width: 60%;
  padding: 10px 0;
  border-bottom: 1.5px solid #F5F6F8; }
  .property-block .apartament-disposition .apartament-availability i.check-calendar {
    font-size: 15px;
    margin-left: -23px;
    font-weight: bold;
    bottom: 1px;
    position: relative;
    margin-right: 5px; }

.property-block .apartment-description {
  margin: -20px;
  margin-bottom: -5px;
  padding: 20px;
  padding-bottom: 0;
  border-bottom: 1.5px solid #F5F6F8; }

.property-block .apartment-info p.price-big {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 0; }
  .property-block .apartment-info p.price-big span {
    text-transform: none;
    font-size: initial; }

.property-block .apartment-manager {
  background-color: transparent; }

.property-block .apartment-image .badges .rent {
  padding: 13px 30px;
  border-radius: 5px; }

.arrow-block.hidespan {
  padding: 20px 0; }
  .arrow-block.hidespan .arrow-wrapper a i {
    font-size: 30px;
    color: #FF671B;
    background-color: #F5F6F8;
    border: 1px solid lightgray; }
  .arrow-block.hidespan .button-wrapper a {
    border: 1px solid lightgray;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px; }

.create-a-need {
  background-color: #FF671B;
  padding: 20px 0; }
  .create-a-need .section-header h3, .create-a-need .section-header p {
    color: white; }

.account-header-top {
  font-size: 16px;
  color: gray;
  font-weight: 300; }
  .account-header-top.goback a, .account-header-top.goback i {
    font-size: 11px; }

.agent-avatar img {
  border-radius: 50%; }

.agent-block-wrapper-header {
  color: gray;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border: 2px solid #eff0f3;
  background-color: #fff;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  padding: 24px; }

.account-header-tabs {
  margin: 25px 0; }
  .account-header-tabs ul {
    border-bottom: 2px solid rgba(153, 161, 182, 0.24); }
  .account-header-tabs .nav > li > a {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    color: #FF671B;
    border-bottom: 2px solid transparent;
    transition: ease-in-out all .2s; }
    .account-header-tabs .nav > li > a:focus {
      background-color: transparent;
      border-bottom: 2px solid #FF671B; }
    .account-header-tabs .nav > li > a:hover {
      background-color: transparent;
      border-bottom: 2px solid #FF671B; }
    .account-header-tabs .nav > li > a.active {
      background-color: transparent;
      border-bottom: 2px solid #FF671B; }

.agent-block-wrapper {
  border-top: 0; }
  .agent-block-wrapper:nth-last-child(1) {
    border-top-width: 2px;
    border-radius: 0 0 5px 5px; }
  .agent-block-wrapper .agent-block-agent-information {
    position: relative; }
    .agent-block-wrapper .agent-block-agent-information .row {
      margin-bottom: 30px; }
      .agent-block-wrapper .agent-block-agent-information .row:nth-child(1) {
        margin-bottom: 10px; }
      .agent-block-wrapper .agent-block-agent-information .row h2 {
        font-size: 17px;
        color: gray;
        font-weight: 300; }
    .agent-block-wrapper .agent-block-agent-information .text-container {
      color: gray;
      width: 100%;
      height: 100%; }
      .agent-block-wrapper .agent-block-agent-information .text-container .write-review .review {
        width: 100%;
        height: 18px;
        background-color: lightgray;
        margin-bottom: 5px; }
        .agent-block-wrapper .agent-block-agent-information .text-container .write-review .review:nth-last-child(1) {
          width: 50%; }

.stars.orange-stars .star {
  position: relative;
  color: #FF671B; }

.stars .star {
  cursor: pointer;
  font-size: 18px;
  color: lightgray; }
  .stars .star.active {
    color: gray; }

.orange-text {
  color: #FF671B !important;
  vertical-align: middle; }

.send-button {
  position: absolute;
  bottom: 0;
  right: 0; }
  .send-button .button span {
    font-weight: bold; }

.small-text {
  font-size: 11px; }

.no-header {
  border: 2px solid rgba(153, 161, 182, 0.24);
  border-radius: 5px !important;
  padding: 15px;
  width: 100%;
  margin: auto;
  background-color: white; }

.avatar-image-container .avatar-image a {
  width: 75%;
  display: block;
  margin: auto;
  margin-left: 0; }
  .avatar-image-container .avatar-image a img {
    width: 100%;
    border-radius: 50%; }

.edit-profile-link {
  text-align: center;
  font-size: 12px; }
  .edit-profile-link .orange-text {
    margin-top: 10px;
    width: 75%; }
  .edit-profile-link:hover, .edit-profile-link:focus {
    text-decoration: none; }

.stars-container {
  font-size: 12px;
  font-weight: 300; }
  .stars-container .main-star {
    font-size: 15px;
    margin-bottom: 20px; }
  .stars-container label {
    font-weight: 300;
    display: inline-block;
    color: gray;
    margin-right: 15px; }
  .stars-container .stars {
    display: inline-block;
    vertical-align: bottom; }

.account_menu_agent {
  padding: 12px; }

.account_menu_categories .category_item {
  padding: 10px; }

.account_menu_categories .category_item__category-name span {
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
  vertical-align: middle; }

.account_menu_categories .category_item__category-name i {
  font-size: 20px;
  padding: 5px;
  border: 1px solid lightgray;
  vertical-align: middle; }

.no-header-agent-block-warpper .agent-block-wrapper:nth-child(1) {
  border-radius: 5px 5px 0 0;
  border-top: 2px solid #eff0f3; }

.requested-logo img {
  width: 100%; }

.bg {
  background-size: cover;
  background-position: center;
  padding-bottom: 100%; }
  .bg img {
    display: none; }

.circle-image {
  border-radius: 50%; }

.data-box {
  padding: 15px 0;
  border-bottom: 1px solid rgba(153, 161, 182, 0.16); }
  .data-box strong {
    font-size: 22px; }

.user-container .user-block {
  display: inline-block;
  vertical-align: middle; }

.no-style-list {
  list-style-type: none; }
  .no-style-list div {
    vertical-align: middle; }
  .no-style-list .stars {
    display: inline-block; }

.radio-block {
  display: inline-block;
  margin-left: 20px; }
  .radio-block input {
    display: inline-block !important;
    margin: 0;
    vertical-align: middle; }
