@import '_colors';
@import '_menu';
@import '_fonts';
@import '_forms';
@import '_buttons';

.prealoader {
    display: none;
    visibility: hidden;
}

//HEADER
.header {
    .wrapper {
        text-align: left;
    }
    .navbar-collapse {
        float: left;
    }
    .register-signin {
        width: 100px;
        border: 1px solid #000;
        height: 40px;
        
        p {
            font-size: 12px;
            color: #000;
            position: relative;
        }
    }
    .subscribe-buttons {
        padding: 0;
        &:before {
            content: none;
        }
    }
    .menu-list {
        margin-left: 4%;
        div {
            ul {
                li {
                    a {
                        &:before {
                            width: 0;
                            height: 0;
                        }
                    }
                }
            }
        }
    }
}
@import 'menu';
#approval-head {
    height: auto;
    min-height: 121px;
    background: #ff9e4e; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9e4e 1%, #ff6631 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff9e4e 1%,#ff6631 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff9e4e 1%,#ff6631 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e4e', endColorstr='#ff6631',GradientType=0 ); /* IE6-9 */
    color: #FFF;
}

//SHARE SOMETHING
.box-share {
    color: #FFF;
    background-image: linear-gradient(-206deg, #FFA03A 0%, $orange 50%);
    border-radius: 2px;
    input {
        color: $orange
    }
    input[type="submit"] {
        border: 2px solid #FFF;
        background-color: transparent;
        color: #fff;
        &:hover {
            background-color: #FFF;
            color: $orange;
        }
    }
}

//COMMONS
.property-block {
    .property-title {
        margin-bottom: 21px;
        a {
            color: $emperor;
        }
    }
    .apartment-values {
        border-bottom-color: rgba(153,161,182,.16);
    }
}
#toolbar {
    z-index: 999;
    background-color: #FFF;
}
.stick-header {
    z-index: 900;
}
.page-title-simple {
    ul {
        li {
            a {
                color: $emperor;
                &:before {
                    background-color:  $orange;
                }
            }
        }
    }
}
.property_gallery {
    &.setfull {
        z-index: 1000;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.js-test-toggle {
    padding: 4px 12px 12px;
}

//ADMIN PAGE 
.account_menu_categories {
    .category_item__category-name {
        i {
            color: $orange;
        }
    }
}
.account-property {
    .table-property-listing {
        .item {
            .apartment-details-btn {
                width: 40%;
            }
            .property-info-wrapper {
                width: 30%;
            }
        }
    }
}

//JOIN PAGE
#join {
    p {
        color: $orange;
    }
}

//SEARCH PAGE

#search-form-1 {
	.property-search {
		background-color: white;
		.main-apartment-search-options {
			padding: 10px 20px;
			.options-title.options-title {
				h3 {
					font-size: 16px;
				}
			}
			.options-wrapper-main {
				.wrapper.advanced-wrapper {

					@media screen and (min-width: 993px){
						margin-top: -30px;
					}
				}
			}
		}
	}
}

.selectize-control.single {
	.selectize-input {
		&.dropdown-active {	
			position: relative
			&:after {
				border-color: transparent transparent $orange transparent
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				background-color: gray;
				height: 100%;
				right: 40px;
				top: 0;
				opacity: 0.3;
			}
		}
		height: 50px;
	}
	.selectize-input:after {
		border-color: $orange transparent transparent transparent
	}
	.selectize-input:before {
		content: '';
		display: block;
		position: absolute;
		width: 1px;
		background-color: gray;
		height: 100%;
		right: 40px;
		top: 0;
		opacity: 0.3;
	}
}

.property-block {
	.property-title {
		color: $emperor;
	}
	.apartament-disposition {
		i {
			color: $orange;
		}
		
		.apartment-location {
			display: block;
			float: left;
			width: 40%;
			padding: 10px 0;
			border-bottom: 1.5px solid $grey;
		}
		.apartament-availability {
			display: block;
			float: left;
			width: 60%;
			padding: 10px 0;
			border-bottom: 1.5px solid $grey;
			i {
				&.check-calendar {
					font-size: 15px;
					margin-left: -23px;
					font-weight: bold;
					bottom: 1px;
					position: relative;
					margin-right: 5px;
				}
			}
		}
	}
	.apartment-description {
		margin: -20px;
		margin-bottom: -5px;
		padding: 20px;
		padding-bottom: 0;
		border-bottom: 1.5px solid $grey;
	}
	.apartment-info {
		p.price-big {
			text-transform: uppercase;
			font-size: 23px;
			margin-bottom: 0;
			span {
				text-transform: none;
				font-size: initial;
			}
		}
	}
	.apartment-manager {
		background-color: transparent;
	}
	.apartment-image {
		.badges {
			.rent {
				padding: 13px 30px;
				border-radius: 5px;
			}
		}
	}
}

.arrow-block.hidespan {
	padding: 20px 0;
	.arrow-wrapper {
		a {
			i {
				font-size: 30px;
				color: $orange;
				background-color: $grey;
				border: 1px solid lightgray;
			}
		}
	}
	.button-wrapper {
		a {
			border: 1px solid lightgray;
			margin: 0 10px;
			font-weight: bold;
			font-size: 14px;
		}
	}
}
.create-a-need {
	background-color: $orange;
	padding: 20px 0;
	.section-header {
		h3, p {
			color: white;
		}

	}
}

//review-an-user
.account-header-top {
	font-size: 16px;
	color: gray;
	font-weight: 300;
	&.goback {
		a,i {
			font-size: 11px;
		}
	}
}
.agent-avatar {
	img {
		border-radius: 50%;
	}
}
.agent-block-wrapper-header {
	color: gray;
    font-weight: bold;
	border-radius: 5px 5px 0 0;
    border: 2px solid #eff0f3;
    background-color: #fff;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 21px;
    padding: 24px;
    &.no-header {

    }
}
.account-header-tabs {
	margin: 25px 0;
	ul {
		border-bottom: 2px solid rgba(153,161,182,.24);
	}
	.nav>li>a {
		font-size: 12px;
		padding-left: 0;
		padding-right: 0;
		margin-right: 20px;
		color: $orange;
		border-bottom: 2px solid transparent;
		transition: ease-in-out all .2s;
		&:focus {
			background-color: transparent;
			border-bottom: 2px solid $orange;
		}
		&:hover {
			background-color: transparent;
			border-bottom: 2px solid $orange;
		}
		&.active {
			background-color: transparent;
			border-bottom: 2px solid $orange;
		}
	}
}
.agent-block-wrapper {
	border-top:0;
	&:nth-last-child(1){
		border-top-width: 2px;
		border-radius: 0 0 5px 5px;
	}
	.agent-block-agent-information {
		position: relative;
		.row {
			margin-bottom: 30px;
			&:nth-child(1) {
				margin-bottom: 10px;
			}
			h2 {
				font-size: 17px;
				color: gray;
				font-weight: 300;
			}
		}
		.text-container {
			color: gray;
			width: 100%;
			height: 100%;
			.write-review {
				.review {
					width: 100%;
					height: 18px;
					background-color: lightgray;
					margin-bottom: 5px;
					&:nth-last-child(1) {
						width: 50%;
					}
				}
			}
		}
	}
}




//Stars component
.stars {
	&.orange-stars {
		.star {
			position: relative;
			color: $orange;
		}
	}
	.star {
		cursor: pointer;
		font-size: 18px;
		color: lightgray;
		&.active {
			color: gray;
		}
	}
}

.orange-text {
	color: $orange !important;
	vertical-align: middle;
}

.send-button {
	position: absolute;
	bottom: 0;
	right: 0;
	.button {
		span {
			font-weight: bold;
		}
	}
}
.small-text {
	font-size: 11px;
}
.no-header {
	border: 2px solid rgba(153,161,182,.24);
	border-radius: 5px !important;
	padding: 15px;
	width: 100%;
	margin: auto;
	background-color: white;
}
.avatar-image-container {
	.avatar-image {
		a {
			width: 75%;
			display: block;
			margin: auto;
			margin-left: 0;
			img {
				width: 100%;
				border-radius: 50%;
			}
		}
	}
}
.edit-profile-link {
	text-align: center;
	font-size: 12px;
	.orange-text {
		margin-top: 10px;
		width: 75%;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
}
.stars-container {
	font-size: 12px;
	font-weight: 300;
	.main-star {
		font-size: 15px;
		margin-bottom: 20px;
	}
	label {
		font-weight: 300;
		display: inline-block;
		color: gray;
		margin-right: 15px;
	}
	.stars {
		display: inline-block;
		vertical-align: bottom;
	}
}
.account_menu_agent {
	padding: 12px;
}
.account_menu_categories {	
	.category_item {
		padding: 10px;
	}
	.category_item__category-name {
		span {
			font-size: 10px;
			font-weight: bold;
			margin-left: 8px;
			vertical-align: middle;
		}
		i {
			font-size: 20px;
			padding: 5px;
			border: 1px solid lightgray;
			vertical-align: middle;
		}
	}
}


.no-header-agent-block-warpper {
	.agent-block-wrapper {
		&:nth-child(1) {
			border-radius: 5px 5px 0 0;
			border-top: 2px solid #eff0f3;
		}
	}
}

.requested-logo {
	img {
		width: 100%;
	}
}
.bg {
	background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    img {
    	display: none;
    }
}
.circle-image {
	border-radius: 50%;
}
.data-box {
	padding: 15px 0;
	border-bottom: 1px solid rgba(153,161,182,0.16);
	strong {
		font-size: 22px;
	}
}

.user-container {
	.user-block {
		display: inline-block;
		vertical-align: middle;
	}
}
.no-style-list {
	list-style-type: none;
	div {
		vertical-align: middle;
	}
	.stars {
		display: inline-block;
	}
}
.radio-block {
	display: inline-block;
	margin-left: 20px;
	input{
		display: inline-block !important;
    	margin: 0;
    	vertical-align: middle;
	}
}